<p-card
  *ngFor="let livro of (livros$ | async)"
  header="{{ livro.titulo }}"
  [style]="{width: '360px'}"
  styleClass="p-card-shadow"
>
  <ng-template pTemplate="header">
    <img
      [attr.alt]="livro.descricao"
      src="{{ livro.imagem }}"
    />
  </ng-template>
  <p>
    {{ livro.descricao }}
  </p>
  <ng-template pTemplate="footer">
      <p-button
      (click)="editar(livro)"
      label="Editar"
      icon="pi pi-pencil"
      >
      </p-button>
      <p-button
        label="Cancel"
        icon="pi pi-times"
        styleClass="p-button-secondary"
        [style]="{'margin-left': '.5em'}"
      >
      </p-button>
  </ng-template>
</p-card>
